{% extends 'base.html' %}
{% block title %}
Form
{% endblock %}

{% block nav %}
		<a class="w3-bar-item w3-button w3-padding-medium btn w3-red btn-secondary" href="{{ url_for('logout') }}">Logout</a>
{% endblock %}


{% block content %}
<head>
	<meta charset="utf-8">
	<title>Admin</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/admin_style.css') }}">
	<script src="{{ url_for('static', filename='JS/script.js') }}"></script>

</head>
<body>
<div class="login">
	<form action="/admin" class="form" method="post">
		<img src="static/styles/profile.png" alt="">
		<h2>Register Faculty</h2>
		<div class="input-group">
			<input type="text" name="email" id="email" required>
			<label for="email">Faculty Email</label>
		</div>
		<div class="input-group">
			<input type="text" name="name" id="name" required>
			<label for="name">Faculty Name</label>
		</div>
		<div >
			<label>Department</label> <br>
			<select  name="dept" id="dept" placeholder="Select a department" required>
			  <option value="CSE" selected>CSE</option>
			  <option value="ME">ME</option>
			  <option value="EE">EE</option>
			  <option value="CE">CE</option>
			  <option value="MEMS">MEMS</option>
			  <option value="Mathematics">Mathematics</option>
			  <option value="HSC">HSC</option>
			  <option value="BSBE">BSBE</option>
			  <option value="Physics">Physics</option>
			  <option value="Astronomy">Astronomy</option>
			</select>
      	</div>
		<input type ="submit" value="Register" class="submit-btn">
	</form>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert {{ category }}"> {{ message }} </div>
    {% endfor %}
  {% endif %}
{% endwith %}
</body>
</body>

</div>

{% endblock %}