{% extends 'base.html' %}
{% block title %}
Course Details
{% endblock %}

{% block nav %}
		<a class="w3-bar-item w3-button w3-padding-medium btn w3-red btn-secondary" href="{{ url_for('logout') }}">Logout</a>
{% endblock %}

{% block content %}
<head>
	<meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/form.css') }}">
	<title>Register Course</title>
</head>
<body>
<h1> Register Course </h1>
<div class="parent" align="center">
	<p>Email : {{user.get('email')}}</p>
	<p>Name: {{user.get('name')}}</p>
</div>
<div class="w3-container w3-content w3-padding-64 " style="max-width:800px">
	<form action="" method="post" id="course_reg" name="course_reg">
        <h2> Register Course </h2>

        <div class="form-floating">
            <input type="text" class="form-control" placeholder="Course_Name" name="course_name">
            <label for="course_name">Course Name</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" placeholder="Course_ID" name="course_id">
            <label for="course_id">Course ID</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" placeholder="Room_No" name="room_no" id="day">
            <label for="room_no">Room Number</label>
        </div>
        <div class="form-floating">
            <input type="number" min="1" max="5" class="form-control" placeholder="0" value="" name="no_of_classes" id="no_of_classes" onchange="genDays()">
            <label for="no_of_classes">Number of classes per week</label>
        </div>

        <div  id="dummy" name="dummy">

        </div>

        <div>
            <button type="submit" class="btn btn-warning">Submit</button>
        </div>
<!--        -->
    </form>
    <script src="{{ url_for('static', filename='JS/timeslots.js') }}"></script>
</div>
</body>
{% endblock %}

