{% extends 'base.html' %}
{% block title %}
Course Details
{% endblock %}

{% block nav %}
		<a class="w3-bar-item w3-button w3-padding-medium btn w3-red btn-secondary" href="{{ url_for('logout') }}">Logout</a>
{% endblock %}

{% block content %}
<head>
	<meta charset="utf-8">
	<title>Register Course</title>
</head>
<body>
<h1> Register Course </h1>
<div class="parent" align="center">
	<p>Email : {{user.get('email')}}</p>
	<p>Name: {{user.get('name')}}</p>
</div>
<div class="w3-container w3-content w3-padding-64 " style="max-width:800px">
		<form method="POST" class="form-register">

					<h2 class="w3-medium ">Course</h2>
					<input type="textbox" class="w3-input w3-border w3-half", type="password", placeholder = "Enter Here" name="course" id="course" required>
					<br><br><br>
					<h2 class="w3-medium ">Year</h2>
					<input type="textbox" class="w3-input w3-border w3-half", type="password", placeholder = "Enter Here" name="year" id="year" required>
					<br><br><br>
					<h2 class="w3-medium ">Room No.</h2>
					<input type="textbox" class="w3-input w3-border w3-half", type="password", placeholder = "Enter Here" name="room_no" id="room_no" required>
					<br><br><br>
					<h2 class="w3-medium ">Number of classes</h2>
					<input type="textbox" class="w3-input w3-border w3-half", type="password", placeholder = "Enter Here" name="classes" id="classes" required>
			<br><br><br>
			<input type ="submit" value="Register" class="w3-bar-item w3-button w3-padding-medium btn w3-green btn-secondary">
		</form>
</div>
</body>
{% endblock %}