{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}

{% block nav %}
<ul class="av navbar-nav navbar-right">
  <li class="nav-item">
  <form action="/login">
      <button class="btn btn-light w3-green" type="submit">Sign in</button>
  </form>
  </li>
</ul>
{% endblock %}


{% block content %}
<style>
    button{
        width: 100%;
    }
</style>
<body>
<div class="w3-content" style="max-width:800px;margin-top:46px">

  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" >
    <h2 class="w3-wide">Find all the faculties who have taught Course {{Z}} of Department {{Y}}</h2>
    <hr class="solid w3-black">
    </div>
</div>


<div class="w3-container w3-content w3-center w3-padding-16" style="max-width:800px">

  <table style="width:50%" class="w3-container w3-content w3-center w3-padding-16">
  <tr>
    <th>Faculty Name</th>
    <th>Faculty Mail</th>
  </tr>

  {% for i in range(size) %}
    <tr>
      <td>{{fac[i][0]}}</td>
      <td>{{fac[i][1]}}</td>
    </tr>
  {% endfor %}

</table>
</div>

<div class="w3-container w3-padding-16" style="max-width:800px">
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
</div>


</body>
<style>
table, th, td {
  border:1px solid black;
}
</style>
{% endblock %}