body{
    background-image: url(https://images.unsplash.com/photo-1554034483-04fda0d3507b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}
div{
    padding: 10px;
}
.form{
    text-align: left;
    width: 50%;
    margin: auto;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
label{
    font-weight: bold;
}